---
import '../styles/global.css';
import { Layout } from "@/components/Layout";
import { HumanizerInterface } from "@/components/HumanizerInterface";
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Home - Astro + TailwindCSS</title>
	</head>

	<body>
		<Layout client:load title="Home">
			<HumanizerInterface client:load />
		</Layout>
	</body>
</html>
