---
import '../styles/global.css';
import { Layout } from "@/components/Layout";
import { HumanizerInterface } from "@/components/HumanizerInterface";
import { GlobalToaster } from "@/components/GlobalToaster";
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Humanizer AI</title>
	</head>

	<body>
		<Layout client:load title="Humanizer AI - Main page">
			<HumanizerInterface client:load />
		</Layout>
		<GlobalToaster client:only="react" />
	</body>
</html>
