---
import '../styles/global.css';
import { Layout } from "@/components/Layout";
import { SettingsForm } from "@/components/SettingsForm";
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Settings - Humanizer AI</title>
		<ViewTransitions />
	</head>

	<body>
		<Layout client:only="react" title="Humanizer AI - Settings">
			<SettingsForm client:only="react" />
		</Layout>
	</body>
</html>
